# .env 파일을 만들어서 아래와 같이 값을 넣어주세요

DATABASE_URL=`연결할 데이터베이스 URL`
# (현재 프로젝트는 postgres+psycopg://test:1234@localhost:15432 로 동작중)
# ▼ 로컬호스트에서 postgresql 돌렸을 때 (-p 15432:5432) ▼
# postgresql+psycopg://test:1234@localhost:15432/testdb
# ▼ 도커로 돌렸을 경우 ▼
# postgresql+psycopg://test:1234@postgres_db:5432/testdb

OPENAI_API_KEY=`chatgpt api키`